/mvnw text eol=lf
*.cmd text eol=crlf
scripts/** linguist-vendored
scripts/** linguist-detectable=false

*.sh linguist-detectable=false
*.sh linguist-vendored

mvnw linguist-detectable=false
mvnw.cmd linguist-detectable=false